/* Importation des polices Google Fonts Montserrat et Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@200;300;400;500;600&display=swap');
/* Import Tailwind's base styles */
@import 'tailwindcss/base';

/* Import Tailwind's component styles */
@import 'tailwindcss/components';

/* Import Tailwind's utility styles */
@import 'tailwindcss/utilities';
/* Réinitialisation des styles par défaut pour tous les éléments HTML */
* {
  font-family: 'Times New Roman', Times, serif; /* Définition de la police par défaut */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Gestion de la taille des boîtes */
  outline: none;
  border: none;
  text-decoration: none; /* Suppression des décorations de texte par défaut */
  text-transform: capitalize; /* Capitalisation des textes */
  transition: all .2s linear; /* Transition douce pour toutes les propriétés */
}

/* Définition des couleurs et autres variables globales */
:root {
  --blue: #29d9d5; /* Couleur bleu clair */
  --black: #000000; /* Couleur noire */
  --white: #fff; /* Couleur blanche */
  --light-color: #aaa; /* Couleur gris clair */
  --bg-color: #222; /* Couleur de fond foncée */
  --black-bg: rgba(17, 17, 17, .7); /* Fond noir semi-transparent */
  --border: .2rem solid var(--blue); /* Bordure bleue */
}

/* Styles généraux pour la balise html */
html {
  font-size: 62.5%; /* Taille de police de base (10px) */
  overflow-x: hidden; /* Cacher le débordement horizontal */
  scroll-behavior: smooth; /* Défilement doux */
  scroll-padding-top: 9rem; /* Espace au-dessus du contenu lors du défilement ancré */
}

/* Personnalisation de la barre de défilement pour Webkit/Blink */
html::-webkit-scrollbar {
  width: 1rem; /* Largeur de la barre de défilement */
}

html::-webkit-scrollbar-track {
  background: var(--black); /* Fond de la piste de défilement */
}

html::-webkit-scrollbar-thumb {
  background: var(--white); /* Couleur du curseur de défilement */
}

/* Styles pour les sections */
section {
  padding: 3rem 9%; /* Espacement intérieur pour chaque section */
}

/* Styles pour le corps de la page */
body {
  background: var(--black); /* Couleur de fond */
  overflow-x: hidden; /* Cacher le débordement horizontal */
}

/* Styles pour les boutons */
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem; /* Espacement intérieur */
  font-size: 1.7rem; /* Taille de police */
  color: var(--blue); /* Couleur du texte */
  border: var(--border); /* Bordure */
  border-radius: 5rem; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
  background: none; /* Pas de fond */
}

/* Effet de survol pour les boutons */
.btn:hover {
  background: var(--blue); /* Fond bleu au survol */
  color: var(--black); /* Texte noir au survol */
}

/* Styles pour l'en-tête */
.header {
  position: fixed; /* Position fixe */
  top: -10px; /* Positionnement en haut */
  left: 0;
  right: 0;
  z-index: 1000; /* Supérieur à tout autre contenu */
  background: var(--black); /* Fond noir */
  display: flex; /* Utilisation de Flexbox */
  align-items: center; /* Alignement vertical des éléments */
  justify-content: space-between; /* Espacement entre les éléments */
  padding: 1.5rem 9%; /* Espacement intérieur */
}

/* Styles pour les liens de la barre de navigation dans l'en-tête */
.header .navbar a {
  font-size: 1.8rem; /* Taille de police */
  color: var(--light-color); /* Couleur du texte */
  margin: 0 1rem; /* Marges */
}

/* Effet de survol pour les liens de la barre de navigation */
.header .navbar a:hover {
  color: var(--blue); /* Couleur bleue au survol */
}

/* Styles pour le logo */
.logo {
  margin-top: -5px; /* Ajustement du positionnement */
  width: 90px; /* Largeur */
  height: 70px; /* Hauteur */
  margin-left: -100px; /* Ajustement du positionnement */
}

/* Styles pour le bouton de menu (mobile) */
#menu-btn {
  font-size: 2.5rem; /* Taille de police */
  color: var(--white); /* Couleur blanche */
  cursor: pointer; /* Curseur pointeur */
  display: none; /* Caché par défaut */
}

/* Styles pour la section 'home' */
.home {
  margin: 0 auto; /* Centrage horizontal */
  margin-top: 8rem; /* Espacement supérieur */
  width: 90%; /* Largeur */
  border-radius: 1rem; /* Coins arrondis */
  background: linear-gradient(var(--black-bg), var(--black-bg)), url("img/pic1.jpg") no-repeat; /* Fond avec image et gradient */
  background-size: cover; /* Taille de fond pour couvrir */
  background-position: center; /* Positionnement du fond */
  display: flex; /* Utilisation de Flexbox */
  min-height: 100vh; /* Hauteur minimale */
  align-items: center; /* Alignement vertical des éléments */
  justify-content: center; /* Centrage horizontal des éléments */
  padding-bottom: 5rem; /* Espacement inférieur */
}

/* Styles pour le contenu de la section 'home' */
.home .content {
  text-align: center; /* Texte centré */
}

/* Styles pour les éléments span dans 'home' */
.home .content span {
  font-weight: bolder; /* Poids de police plus épais */
  color: transparent; /* Couleur transparente */
  -webkit-text-stroke: .1rem var(--white); /* Contour de texte pour Webkit/Blink */
  font-size: 4vw; /* Taille de police relative à la largeur de la fenêtre */
  display: block; /* Affichage en bloc */
}

/* Styles pour les titres h3 dans 'home' */
.home .content h3 {
  font-size: 6vw; /* Taille de police relative à la largeur de la fenêtre */
  color: var(--white); /* Couleur blanche */
}

/* Styles pour les paragraphes dans 'home' */
.home .content p {
  max-width: 60rem; /* Largeur maximale */
  margin: 1rem auto; /* Centrage avec marges */
  font-size: 1.4rem; /* Taille de police */
  color: var(--light-color); /* Couleur gris clair */
  line-height: 2; /* Hauteur de ligne */
}

/* Styles pour la section 'destination' */
.destination .box-container {
  display: grid; /* Utilisation de la grille CSS */
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); /* Colonnes adaptatives */
  gap: 1.5rem; /* Espacement entre les éléments */
}

/* Styles pour les boîtes dans 'destination' */
.destination .box-container .box {
  border-radius: 1rem; /* Coins arrondis */
  overflow: hidden; /* Cacher le débordement */
  background: var(--bg-color); /* Couleur de fond foncée */
}

/* Effet de survol sur les images dans les boîtes de 'destination' */
.destination .box-container .box:hover img {
  transform: scale(1.1); /* Agrandissement de l'image */
}

/* Styles pour la partie image des boîtes de 'destination' */
.destination .box-container .box .image {
  height: 20rem; /* Hauteur fixe */
  overflow: hidden; /* Cacher le débordement */
  width: 100%; /* Largeur complète */
}

/* Styles pour les images dans les boîtes de 'destination' */
.destination .box-container .box .image img {
  height: 100%; /* Hauteur complète */
  width: 100%; /* Largeur complète */
  object-fit: cover; /* Ajustement de l'image pour couvrir */
  display: block; /* Affichage en bloc */
}

/* Styles pour le contenu des boîtes de 'destination' */
.destination .box-container .box .content {
  padding: 2rem; /* Espacement intérieur */
  text-align: center; /* Texte centré */
}

/* Styles pour les titres h3 dans les boîtes de 'destination' */
.destination .box-container .box .content h3 {
  font-size: 2rem; /* Taille de police */
  color: var(--white); /* Couleur blanche */
}

/* Styles pour les paragraphes dans les boîtes de 'destination' */
.destination .box-container .box .content p {
  padding: 1rem 0; /* Espacement intérieur */
  font-size: 1.4rem; /* Taille de police */
  color: var(--light-color); /* Couleur gris clair */
  line-height: 2; /* Hauteur de ligne */
}

/* Styles pour les liens dans les boîtes de 'destination' */
.destination .box-container .box .content a {
  font-size: 1.7rem; /* Taille de police */
  color: var(--blue); /* Couleur bleue */
}

/* Effet de survol pour les icônes dans les liens de 'destination' */
.destination .box-container .box .content a:hover i {
  padding-left: 1rem; /* Ajout d'espacement à gauche */
}

/* Styles pour les icônes dans les liens de 'destination' */
.destination .box-container .box .content i {
  padding-right: 0.5rem; /* Ajout d'espacement à droite */
}

/* Styles pour les médias queries */
@media (max-width: 991px) {
  /* Styles pour le bouton de menu sur les écrans plus petits */
  #menu-btn {
    display: inline-block; /* Affichage */
  }

  /* Ajustement de la taille de police de base pour html sur les écrans plus petits */
  html {
    font-size: 55%; /* Réduction de la taille de police */
  }

  /* Ajustement des styles de l'en-tête pour les écrans plus petits */
  .header {
    padding: 1.5rem 2rem; /* Réduction de l'espacement intérieur */
  }

  /* Ajustement des styles des sections pour les écrans plus petits */
  section {
    padding: 3rem 2rem; /* Réduction de l'espacement intérieur */
  }
}

@media (max-width: 768px) {
  /* Styles pour la barre de navigation en mode mobile */
  .header .navbar {
    position: absolute; /* Position absolue */
    top: 99%; /* Positionnement en bas de l'en-tête */
    left: 0;
    right: 0;
    background: var(--bg-color); /* Fond foncé */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Forme initiale (cachée) */
  }

  /* Styles pour la barre de navigation active en mode mobile */
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Forme finale (visible) */
  }

  /* Styles pour les liens de la barre de navigation en mode mobile */
  .header .navbar a {
    margin: 2rem; /* Marges plus grandes */
    font-size: 2rem; /* Taille de police plus grande */
    display: block; /* Affichage en bloc */
  }

  /* Ajustement de la marge supérieure de la section 'home' */
  .home {
    margin-top: 10rem; /* Augmentation de l'espacement supérieur */
  }

  /* Styles pour les éléments span et h3 dans le contenu de 'home' en mode mobile */
  .home .content {
    span {
      font-size: 8vw; /* Taille de police relative à la largeur de la fenêtre */
    }

    h3 {
      font-size: 8vw; /* Taille de police relative à la largeur de la fenêtre */
    }
  }
}

@media (max-width: 450px) {
  /* Ajustement de la taille de police de base pour html sur les très petits écrans */
  html {
    font-size: 50%; /* Réduction supplémentaire de la taille de police */
  }

  /* Styles pour les titres h3 dans la section 'about' sur les très petits écrans */
  .about .content h3 {
    font-size: 3.5rem; /* Taille de police ajustée */
  }
}

/* Style pour la section de réservation */
.booking {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: var(--bg-color); /* Utilisation de la couleur de fond définie dans la variable --bg-color */
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3); /* Ombre portée pour un effet en relief */
  padding: 3rem 2rem;
}

/* Style pour le formulaire dans la section de réservation */
.booking form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.8rem;
}

/* Style pour les boîtes de saisie dans le formulaire */
.booking .inputBox {
  flex: 1 1 25rem; /* Flexibilité de la boîte pour s'adapter à la largeur disponible */
}

/* Style pour le texte (span) dans les boîtes de saisie */
.booking .inputBox span {
  font-size: 1.4rem;
  color: var(--light-color); /* Couleur de texte définie dans la variable --light-color */
}

/* Style pour les champs de saisie (input) dans les boîtes de saisie */
.booking .inputBox input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 5rem;
  border: var(--border); /* Bordure utilisant la variable --border */
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

/* Style pour le bouton dans la section de réservation */
.booking .btn {
  flex: 1 1 15rem; /* Flexibilité du bouton pour s'adapter à la largeur disponible */
}

/* Style pour la section 'about' */
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

/* Style pour le conteneur de vidéo dans la section 'about' */
.about .video-container {
  flex: 1 1 42rem; /* Flexibilité du conteneur pour s'adapter à la largeur disponible */
}

/* Style pour la vidéo dans le conteneur de vidéo */
.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

/* Style pour les contrôles de la vidéo */
.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

/* Style pour chaque bouton de contrôle de la vidéo */
.about .video-container .controls span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: var(--white); /* Fond blanc pour les boutons */
  cursor: pointer;
  margin: 0.7rem;
}

/* Style pour le bouton de contrôle de la vidéo lors du survol */
.about .video-container .controls span:hover {
  background: var(--blue); /* Changement de couleur au survol */
}

/* Style pour le contenu dans la section 'about' */
.about .content {
  flex: 1 1 42rem; /* Flexibilité du contenu pour s'adapter à la largeur disponible */
  margin-bottom: 5rem;
}

/* Style pour le span dans le contenu de la section 'about' */
.about .content span {
  color: var(--blue); /* Utilisation de la couleur définie dans la variable --blue */
  font-size: 2rem;
}

/* Style pour le titre h3 dans le contenu de la section 'about' */
.about .content h3 {
  color: var(--white); /* Texte blanc */
  font-size: 4rem;
  margin-top: 2rem;
}

/* Style pour le paragraphe dans le contenu de la section 'about' */
.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color); /* Utilisation de la couleur définie dans --light-color */
  line-height: 2;
}

/* Style pour le titre des sections (heading) */
.heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* Style pour le span dans les titres de section */
.heading span {
  color: var(--blue); /* Utilisation de la couleur définie dans --blue */
  font-size: 2rem;
}

/* Style pour le titre h1 dans les titres de section */
.heading h1 {
  font-size: 4rem;
  color: var(--white); /* Texte blanc */
}

/* ********Ici se termine les 3 parties Destinations, About Us et Home, ainsi que la minimisation de l'écran******** */

/* ********Login, Register & Contact Us******** */

/* Style pour l'image de fond */
.background-image {
  position: fixed; /* Position fixe pour couvrir toute la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/i1.png') no-repeat center center; /* Image de fond centrée */
  background-size: cover; /* L'image de fond couvre toute la zone */
  filter: blur(10px); /* Flou sur l'image de fond */
  -webkit-filter: blur(10px); /* Flou sur l'image de fond pour Safari */
  z-index: -1; /* Place l'image en arrière-plan */
}

/* Style pour une autre image de fond (pour la page de contact) */
.background-image-contact {
  position: fixed; /* Position fixe pour couvrir toute la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/bg_1.jpg') no-repeat center center; /* Image de fond centrée */
  background-size: cover; /* L'image de fond couvre toute la zone */
  z-index: -1; /* Place l'image en arrière-plan */
}

/* Style pour le conteneur de la page d'inscription */
.register-container,
.login-container,
.contact-container {
  background: var(--bg-color); /* Fond utilisant la variable --bg-color */
  max-width: 600px; /* Largeur maximale */
  margin: 10% auto; /* Marge supérieure augmentée et centrage */
  padding: 2rem; /* Espacement intérieur */
  border-radius: 10px; /* Bordures arrondies */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
  font-family: 'Nunito', sans-serif; /* Police de caractères Nunito */
}

/* Style pour le titre (h2) dans le conteneur d'inscription */
.register-container h2,
.login-container h2,
.contact-container h2 {
  font-size: 28px; /* Taille de la police pour le titre */
  color: #ffffff; /* Texte blanc */
  margin-bottom: 20px; /* Marge inférieure */
  text-shadow: 2px 2px 4px rgba(183, 183, 183, 0.5); /* Ombre pour le texte */
  text-align: center; /* Alignement du texte au centre */
}

/* Style pour le formulaire horizontal dans la page d'inscription */
.register-container form,
.login-container form,
.contact-container form  {
  display: flex;
  flex-direction: column; /* Direction de la flexbox en colonne */
  align-items: flex-start; /* Alignement des éléments au début */
}

/* Style pour le groupe de formulaire (label + input) */
.register-container .form-group,
.login-container .form-group,
.contact-container .form-group {
  display: flex;
  align-items: center; /* Alignement des éléments au centre verticalement */
  width: 100%; /* Largeur complète */
  margin-bottom: 1rem; /* Marge inférieure */
}

/* Style pour les étiquettes (labels) dans le formulaire d'inscription */
.register-container label,
.login-container label,
.contact-container label {
  font-size: 1.8rem; /* Taille de la police pour les étiquettes */
  color: var(--white); /* Texte blanc */
  margin-right: 0.5rem; /* Marge à droite */
  min-width: 120px; /* Largeur minimale */
}

/* Style pour les champs de saisie (input) et les zones de texte (textarea) */
.register-container input,
.register-container textarea,
.login-container input,
.login-container textarea,
.contact-container input,
.contact-container textarea {
  padding: 1rem; /* Espacement intérieur */
  border-radius: 5px; /* Bordures arrondies */
  background: none; /* Pas de fond */
  border: var(--border); /* Bordure utilisant la variable --border */
  color: var(--light-color); /* Couleur de texte définie dans --light-color */
  font-size: 1.6rem; /* Taille de la police */
  flex-grow: 1; /* Permet aux champs de saisie de prendre l'espace restant */
}

/* Style pour les champs de saisie (input) et les zones de texte (textarea) lors du focus */
.register-container input:focus,
.register-container textarea,
.login-container input:focus,
.login-container textarea,
.contact-container input:focus,
.contact-container textarea {
  border-color: var(--blue); /* Changement de la couleur de bordure au focus */
  box-shadow: 0 0 0 2px rgba(41, 217, 213, 0.2); /* Effet de lueur douce au focus */
}

/* Style pour le conteneur du bouton dans le formulaire d'inscription */
.register-container .button-container,
.login-container .button-container,
.contact-container .button-container {
  width: 100%; /* Largeur complète */
  display: flex;
  justify-content: center; /* Centrage horizontal du bouton */
  margin-top: 1rem; /* Marge supérieure */
}

/* Style ajusté pour le bouton de soumission */
.register-container button,
.login-container button,
.contact-container button {
  padding: 1rem; /* Espacement intérieur */
  background: var(--blue); /* Fond utilisant la variable --blue */
  color: var(--black); /* Texte noir */
  border-radius: 5px; /* Bordures arrondies */
  font-size: 1.7rem; /* Taille de la police */
  cursor: pointer; /* Curseur en forme de pointeur */
  border: var(--border); /* Bordure utilisant la variable --border */
}

/* Style pour le bouton lors du survol */
.register-container button:hover,
.login-container button:hover,
.contact-container button:hover {
  background-color: darken(var(--blue), 10%); /* Assombrissement du fond au survol */
  color: white; /* Texte blanc au survol */
}

/* Comportement adaptatif pour les écrans de taille réduite */
@media (max-width: 768px) {
  .register-container,
  .login-container,
  .contact-container {
    margin: 2rem; /* Augmentation de la marge pour les petits écrans */
    padding: 1.5rem; /* Réduction de l'espacement intérieur */
  }
  .register-container .form-group,
  .login-container .form-group,
  .contact-container .form-group {
    flex-direction: column; /* Direction de la flexbox en colonne */
    align-items: flex-start; /* Alignement des éléments au début */
  }
  .register-container label,
  .login-container label,
  .contact-container label {
    margin-bottom: 0.5rem; /* Espace entre l'étiquette et l'input sur les petits écrans */
  }
  .register-container input,
  .register-container button,
  .login-container input,
  .login-container button,
  .contact-container input,
  .contact-container button {
    width: 100%; /* Largeur complète sur les petits écrans */
  }
}

/* Style pour les paragraphes dans le conteneur d'inscription */
.register-container p,
.login-container p,
.contact-container p {
  color: #ffffff; /* Texte blanc */
  width: 100%; /* Largeur complète */
  display: flex;
  justify-content: center; /* Centrage horizontal */
  margin-top: 1rem; /* Marge supérieure */
}

/* Style pour les liens dans le conteneur d'inscription */
.register-container a,
.login-container a,
.contact-container a {
  color: #0ea6b0; /* Couleur personnalisée pour les liens */
}

/* ********Ici on va débuter avec la partie des Services******** */

/* Style pour la section des services */
.services .box-container {
  /* Utilisation d'une mixin pour définir une grille */
  @include grid(32rem)

  .box {
    background: var(--bg-color) /* Fond utilisant la variable --bg-color */
    border-radius: 1rem;
    padding: 3rem 2rem;
    text-align: center;

    i {
      font-size: 5.4rem; /* Taille de la police pour les icônes */
      color: var(--blue); /* Couleur des icônes définie dans --blue */
      margin-bottom: 2rem; /* Marge inférieure pour les icônes */
      border: 2rem solid var(--black); /* Bordure pour les icônes */
      &:hover {
        border: var(--bg-color); /* Changement de la bordure au survol */
      }
    }

    h3 {
      font-size: 2rem; /* Taille de la police pour les titres */
      color: var(--white); /* Texte blanc */
    }

    p {
      padding: 1rem 0; /* Espacement intérieur vertical */
      font-size: 1.4rem; /* Taille de la police pour les paragraphes */
      color: var(--light-color); /* Couleur de texte définie dans --light-color */
      line-height: 2; /* Hauteur de ligne */
    }
  }
}

/* Style pour le conteneur des boîtes de services */
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr)); /* Grille responsive */
  gap: 2rem; /* Espace entre les boîtes */
}

/* Styles pour les boîtes dans la section des services */
.services .box {
  background: var(--bg-color); /* Utilise la couleur de fond définie dans la variable --bg-color */
  border-radius: 1rem; /* Bords arrondis */
  padding: 3rem 2rem; /* Espacement interne */
  text-align: center; /* Alignement du texte au centre */
  position: relative; /* Position relative pour le positionnement des éléments internes */
  transition: border-color 0.3s ease; /* Transition en douceur pour la couleur de la bordure */

  /* Styles pour les icônes dans les boîtes de service */
  i {
    font-size: 5rem; /* Taille de l'icône */
    color: var(--blue); /* Couleur de l'icône définie dans la variable --blue */
    margin-bottom: 2rem; /* Marge en bas de l'icône */
  }

  /* Styles pour les titres h3 dans les boîtes */
  h3 {
    font-size: 2rem; /* Taille du texte */
    color: var(--white); /* Couleur du texte en blanc */
  }

  /* Styles pour les paragraphes dans les boîtes */
  p {
    padding: 1rem 0; /* Espacement interne */
    font-size: 1.4rem; /* Taille du texte */
    color: var(--light-color); /* Couleur du texte définie dans la variable --light-color */
    line-height: 2; /* Hauteur de ligne */
  }

  /* Effet au survol sur les boîtes */
  &:hover {
    border: 0.2rem solid turquoise; /* Bordure turquoise lors du survol */
  }
}

/* *******Ici on va débuter avec la partie de Gallery******** */

/* Styles pour la section de la galerie */
.gallery {
  padding: 3rem 0; /* Espacement interne */
  background: var(--black); /* Fond noir */
  color: var(--white); /* Texte en blanc */
}

/* Conteneur pour les éléments de la galerie */
.gallery-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
  justify-content: space-between; /* Espacement entre les éléments */
  gap: 1rem; /* Espace entre les éléments */
}

/* Styles pour chaque élément de la galerie */
.gallery-item {
  flex: 1 1 calc(25% - 1rem); /* Largeur ajustée pour chaque élément */
  position: relative; /* Position relative pour le positionnement des éléments internes */
  overflow: hidden; /* Cache les parties débordantes */
  border-radius: 1rem; /* Bords arrondis */
  cursor: pointer; /* Curseur en forme de pointeur */
  transition: transform 0.3s ease; /* Transition en douceur pour l'effet de transformation */

  /* Styles pour les images dans les éléments de la galerie */
  img {
    margin: 5%; /* Marge autour de l'image */
    padding: 5%; /* Espacement interne */
    width: 90%; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    display: block; /* Affichage en bloc */
  }

  /* Styles pour les paragraphes sur les images */
  p {
    position: absolute; /* Position absolue pour superposer le texte sur l'image */
    bottom: 0; /* Positionné en bas de l'élément */
    left: 0;
    right: 0;
    padding: 1rem; /* Espacement interne */
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    margin: 0; /* Pas de marge */
    font-size: 2rem; /* Taille du texte */
    text-align: center; /* Alignement du texte au centre */
  }

  /* Effet au survol sur les éléments de la galerie */
  &:hover {
    transform: scale(1.05); /* Légère augmentation de la taille */
  }
}

/* Styles spécifiques pour les images de la galerie */
.gallery-container .gallery-item img {
  width: 90%; /* Largeur spécifique */
  height: 400px; /* Hauteur spécifique */
  object-fit: cover; /* Les images couvrent entièrement l'espace sans être déformées */
  border-radius: 10px; /* Bords arrondis */
}

/* ********* Reviews ********* */

.review {
  display: flex; /* Utilise Flexbox pour l'affichage */
  align-items: center; /* Centre les éléments verticalement */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  gap: 2rem; /* Espacement entre les éléments */
}

.review .content {
  flex: 1 1 42rem; /* Flexibilité et base de dimensionnement pour le contenu */
}

.review .content span {
  font-size: 2rem; /* Taille de la police pour span */
  color: var(--blue); /* Couleur du texte */
}

.review .content h3 {
  font-size: 3rem; /* Taille de la police pour h3 */
  color: var(--white); /* Couleur du texte */
}

.review .content p {
  font-size: 1.4rem; /* Taille de la police pour p */
  color: var(--light-color); /* Couleur du texte */
  padding: 1rem 0; /* Espacement vertical */
  line-height: 2; /* Hauteur de ligne du texte */
}

.review .box-container {
  flex: 1 1 42rem; /* Flexibilité et base de dimensionnement pour le conteneur */
  display: flex; /* Utilise Flexbox pour l'affichage */
  flex-wrap: wrap; /* Permet aux boîtes de passer à la ligne si nécessaire */
  gap: 1.5rem; /* Espacement entre les boîtes */
}

.review .box-container .box {
  flex: 1 1 20rem; /* Flexibilité et base de dimensionnement pour chaque boîte */
  border-radius: 1rem; /* Rayon de la bordure pour les coins arrondis */
  padding: 2rem; /* Espacement interne */
  background: var(--bg-color); /* Couleur de fond */
  border: 0.2rem solid var(--black); /* Bordure et sa couleur */
}

.review .box-container .box:hover {
  border: var(--border); /* Bordure au survol */
}

.review .box-container .box p {
  font-size: 1.4rem; /* Taille de la police */
  padding-bottom: 1rem; /* Espacement en bas */
  line-height: 2; /* Hauteur de ligne du texte */
  color: var(--light-color); /* Couleur du texte */
}

.review .box-container .box .user {
  display: flex; /* Utilise Flexbox pour l'affichage */
  align-items: center; /* Centre les éléments verticalement */
  gap: 1rem; /* Espacement entre les éléments */
}

.review .box-container .box .user img {
  height: 5rem; /* Hauteur de l'image */
  width: 5rem; /* Largeur de l'image */
  border-radius: 50%; /* Rend l'image circulaire */
}

.review .box-container .box .user h3 {
  font-size: 1.7rem; /* Taille de la police */
  color: var(--white); /* Couleur du texte */
}

.review .box-container .box .user span {
  color: var(--light-color); /* Couleur du texte */
  font-size: 1.5rem; /* Taille de la police */
}

/* ********* Footer ********* */

.footer {
  background-color: #000000; /* Couleur de fond du footer */
}

.footer .box-container {
  display: grid; /* Utilise le Grid Layout */
  text-align: center; /* Alignement du texte au centre */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Configuration des colonnes */
}

.footer .box-container .box {
  padding: 1rem 0; /* Espacement vertical */
}

.footer .box-container .box h3 {
  font-size: 2.2rem; /* Taille de la police */
  color: var(--white); /* Couleur du texte */
  padding: 1rem 0; /* Espacement vertical */
}

.footer .box-container .box p {
  font-size: 1.4rem; /* Taille de la police */
  color: var(--light-color); /* Couleur du texte */
  padding: 1rem 0; /* Espacement vertical */
  line-height: 2; /* Hauteur de ligne du texte */
}

.footer .box-container .box .share {
  padding-top: 1rem; /* Espacement en haut */
}

.footer .box-container .box .share a {
  height: 4.5rem; /* Hauteur */
  width: 2rem; /* Largeur */
  line-height: 4rem; /* Hauteur de ligne */
  font-size: 2rem; /* Taille de la police */
  border-radius: 50%; /* Rend les boutons circulaires */
  border: var(--border); /* Bordure */
  color: var(--blue); /* Couleur du texte */
}

.footer .box-container .box .share a:hover {
  background: var(--blue); /* Couleur de fond au survol */
  color: black; /* Couleur du texte au survol */
}

.footer .box-container .box .links {
  font-size: 1.4rem; /* Taille de la police */
  color: var(--light-color); /* Couleur du texte */
  padding: 1rem 0; /* Espacement vertical */
  display: block; /* Affichage en bloc */
  text-align: left; /* Alignement du texte à gauche */
}

.footer .box-container p,
.footer .box-container h3 {
  text-align: left; /* Alignement du texte à gauche */
}

.footer .box-container .box .links:hover {
  background: var(--blue); /* Couleur de fond au survol */
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem; /* Espacement à droite au survol */
}

.footer .box-container .box .links i {
  padding-right: .5rem; /* Espacement à droite */
  color: var(--blue); /* Couleur des icônes */
}

.footer .box-container .box form .email {
  width: 100%; /* Largeur complète */
  border-radius: 5rem; /* Rayon de la bordure */
  border: var(--border); /* Bordure */
  background: none; /* Pas de fond */
  font-size: 1.5rem; /* Taille de la police */
  color: var(--light-color); /* Couleur du texte */
  margin-bottom: 1rem; /* Marge en bas */
  padding: 1.2rem 1.4rem; /* Espacement interne */
}

.footer .credit {
  background: #000000; /* Couleur de fond */
  text-align: center; /* Alignement du texte au centre */
  font-size: 1rem; /* Taille de la police */
  padding: 3rem 2rem; /* Espacement interne */
  color: var(--light-color); /* Couleur du texte */
}

.footer .credit span {
  color: var(--blue); /* Couleur des noms */
}




