body {
    margin: 0;
    background-image: url('background-img.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
    
}
.font{
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 80px;
    color: rgb(212, 186, 249);
    font-weight: 10;
    transition: 1s;
    margin-top: 100px;
}
.font:hover{
   -webkit-text-stroke: 1px rgb(214, 201, 245); 
   color: transparent;
}