body {
    margin: 0;
}

.background-img {
    background-image: url('background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: #4f1616; 
}
